
@{
    ViewBag.Title = "PostsPage";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


@model WebApplication3.Models.ViewModels.PostesImagesView

@{
    ViewBag.Title = "PostsRequests";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}



<div class="container " style="border:2px solid #808080;min-height:350px; padding:10px 35px;max-width:90%;border-radius:2px;">

    @foreach (var item in Model.articles)
    {
        <div class="row justify-content-center">
            <div class="row ">
                <p class="col-lg-9 col-sm-4 lift">@item.ArticleType</p>
                <p class="col-lg-3 col-sm-4 right">Created in @item.CreationDate</p>
            </div>
            <div class="row justify-content-center ">
                <h2 class="col-lg-12 ">@item.ArticleTitle</h2>
            </div>

            @if (Model.photos != null)
            {

                <div class="row justify-content-between border border-secondary">
                    @foreach (var image in Model.photos)
                    {
                        if (image.Aritcle_Id == item.Id)
                        {
                            <img src="~/images/profiles/@image.Path" class="rounded" alt="" style="width:400px;height:400px;">
                        }

                    }

                </div>
            }
            <div class="row justify-content-around overflow-hidden " style=" min-height:250px; ">
                <div class="col-lg-12">

                    @item.ArticleBody


                </div>



            </div>
            <div class="row  justify-content-between border border-secondary ">

                @if (Session["user"] != null)
                {


                <div class="col-lg-2" style="max-width:100px">

                    @Html.ActionLink("Edit", "EditPost", new { id = item.Id })

                    @Html.ActionLink("Delete", "DeletePost", new { id = item.Id })


                </div>





                }

            </div>


        </div>
    }
</div>





