
@using WebApplication3.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Press Agendy System</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/sidebar.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>



                @Html.ActionLink("Press Agency", "Index", "Facotry", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">


                    @if (Session["user"] == null)
                    {

                        <li>@Html.ActionLink("Login", "Login", "Wall")</li>
                    }
                    else
                    {
                        <li class="list-group-item">
                            @Html.ActionLink("Profile", "ViewProfile", new { id = int.Parse(((Person)Session["user"]).Id.ToString()) }, htmlAttributes: new { @class = "btn btn-secondary " })
                        </li>
                        <li class="list-group-item">
                            @Html.ActionLink("Users’ page", "UsersPage", new { }, htmlAttributes: new { @class = "btn btn-secondary " })

                        </li>
                        <li class="list-group-item">
                            @Html.ActionLink("Posts page", "PostsPage", new { }, htmlAttributes: new { @class = "btn btn-secondary " })

                        </li>
                        <li class="list-group-item">
                            @Html.ActionLink("Posts Requests", "PostsRequests", new { }, htmlAttributes: new { @class = "btn btn-secondary " })

                        </li>
                        <li>@Html.ActionLink("Logout", "Logout", "Wall")</li>

                    }

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
       
           
                
           
                @RenderBody()

          
       
        
            <hr  />
            <footer>
                <p>&copy; @DateTime.Now.Year - FCAIH Team</p>
            </footer>
        </div>
  



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/jqueryval")


    @RenderSection("scripts", required: false)

</body>
</html>
