@model IEnumerable<WebApplication3.Models.Article>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_WallLayout.cshtml";

}

    

<div class="container " style="border:2px solid #808080;min-height:350px; padding:5px 35px">
    @foreach (var item in Model)
    {
        <div class="row justify-content-center">
            <div class="row ">
                <p class="col-lg-2 lift">@item.ArticleType</p>
                <p class="col-lg-2 right">@item.CreationDate</p>
            </div>
            <div class="row justify-content-center border ">
                <h2 class="col-lg-12 ">@item.ArticleTitle</h2>
            </div>
            <div class="row justify-content-around border" style="min-height:300px; ">
                <div class="col-lg-12">
                    @item.ArticleBody
                </div>


            </div>
            <div class="row justify-content-between border ">
                <div class="col-lg-2" style="max-width:100px">
                    <i class="fa fa-eye"></i> @item.NumberOfViewers
                </div>
                <div class="col-lg-2" style="max-width:100px">
                    <i class="fa fa-thumbs-down"></i> @item.NumberOfLikes
                </div>
                <div class="col-lg-2" style="max-width:100px">
                    <i class="fa fa-thumbs-up" ></i> @item.NumberOfDislikes 
                </div>


            </div>

        </div>
    }
</div>


