@model WebApplication3.Models.ViewModels.PostesImagesView

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_WallLayout.cshtml";

}





<div class="container " style="border:2px solid #808080;min-height:350px; padding:10px 35px;max-width:90%;border-radius:2px;">
    
    @foreach (var item in Model.articles)
    {
        <div class="row justify-content-center">
            <div class="row ">
                <p class="col-lg-9 col-sm-4 lift">@item.ArticleType</p>
                <p class="col-lg-3 col-sm-4 right">Created in @item.CreationDate</p>
            </div>
            <div class="row justify-content-center ">
                <h2 class="col-lg-12 ">@item.ArticleTitle</h2>
            </div>

            @if (Model.photos != null)
            {

                <div class="row justify-content-between border border-secondary">
                    @foreach (var image in Model.photos)
                    {
                        if(image.Aritcle_Id == item.Id) { 
                           <img src="~/images/profiles/@image.Path" class="rounded" alt="" style="width:400px;height:400px;">
                        }
                        
                    }

                </div>
            }
            <div class="row justify-content-around overflow-hidden " style=" min-height:250px; ">
                <div class="col-lg-12">

                    @item.ArticleBody

                    @Html.ActionLink("See More...", "Show", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-secondary " })


                </div>



            </div>
            <div class="row  justify-content-between border border-secondary ">
                <div class="col-lg-2" style="max-width:100px">
                    <i class="fa fa-eye"></i> @item.NumberOfViewers
                </div>
                <div class="col-lg-2" style="max-width:100px">
                    
                   
                    <button class="col-md-4 btn btn-link btn btn-secondary " id="DisLike" onclick="Dislike(@item.Id)"><i class="fa fa-thumbs-down fs-2"></i>@item.NumberOfDislikes</button>
                </div>
                <div class="col-lg-2" style="max-width:100px">
                   
                    <button class="col-md-4 btn btn-link btn btn-secondary " id="Like" onclick="Like(@item.Id)"><i class="fa fa-thumbs-up fs-2"></i> @item.NumberOfLikes</button>

                    

                </div>

                <div class="col-lg-2" style="max-width:100px">
                    <button class="col-md-4 btn btn-link btn btn-secondary " id="Save" onclick="Save(@item.Id)"><i class="fa fa-save fs-2"></i></button>


                </div>





            </div>

        </div>
    }
</div>



@section Scripts{
    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/jqueryval")
    <script>
            

        Dislike = function (id) {
            $.ajax({
                type: "POST",
                url: "/Wall/DisLike/"+id,
                
                success: function (resoponse) {
                    if (resoponse) {
                        alert("Dislike");
                    }
                    else {
                        alert("like");
                    }
                },



            })

        }

        Like = function (id) {
            $.ajax({
                type: "POST",
                url: "/Wall/Like/" + id,

                success: function (resoponse) {
                    if (resoponse) {
                        alert("like");
                    }
                    else {
                        alert("Dislike");
                    }
                },



            })

        }

        Save = function (id) {
            $.ajax({
                type: "POST",
                url: "/Wall/Save/" + id,

                success: function (resoponse) {
                    if (resoponse) {
                        alert("Dislike");
                    }
                    else {
                        alert("like");
                    }
                },



            })

        }


              


    </script>

}