@model WebApplication3.Models.ViewModels.PostesImagesView

@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_WallLayout.cshtml";
}

<div class="container " style="border:2px solid #808080;min-height:350px; padding:10px 35px;max-width:85%;border-radius:2px;">
    @foreach (var item in Model.articles)
    {
        <div class="row justify-content-center">
            <div class="row ">
                <p class="col-lg-2 lift">@item.ArticleType</p>
                <p class="col-lg-2 right">@item.CreationDate</p>
            </div>
            <div class="row justify-content-center ">
                <h2 class="col-lg-12 ">@item.ArticleTitle</h2>
            </div>

            

                <div class="row justify-content-between border border-secondary">
                    @foreach (var image in Model.photos)
                    {
                        if(image.Aritcle_Id == item.Id) { 
                        <img src="~/images/profiles/@image.Path" class="img-fluid" alt="" >
                        }
                        
                    }

                </div>
            
            <div class="row justify-content-around overflow-hidden " style=" min-height:250px; ">
                <div class="col-lg-12">

                    @item.ArticleBody

                    
                </div>



            </div>
            <div class="row  justify-content-between border border-secondary ">
                <div class="col-lg-2" style="max-width:100px">
                    <i class="fa fa-eye"></i> @item.NumberOfViewers
                </div>
                <div class="col-lg-2" style="max-width:100px">
                    @item.NumberOfDislikes
                    @Html.ActionLink(" ", "DisLike", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-secondary col-md-4 fa fa-thumbs-down fs-2" })

                </div>
                <div class="col-lg-2" style="max-width:100px">
                    @item.NumberOfLikes
                    @Html.ActionLink(" ", "Like", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-secondary col-md-4 fa fa-thumbs-up fs-2" })

                </div>
                @if (Session["UserID"] != null)
                {
                    <div class="col-lg-2" style="max-width:100px">
                        @Html.ActionLink(" Save", "Save", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-secondary col-md-4 fa fa-save fs-2" })

                    </div>

                }



            </div>

        </div>
    }
</div>


